repos:
- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: pytest
      language: system
      always_run: true
      pass_filenames: false

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.13
  hooks:
    - id: uv-lock
      args: ["--check"]
      always_run: true
      pass_filenames: false

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
    - id: ruff-check
      always_run: true
      pass_filenames: false
    - id: ruff-format
      args: ["--check"]
      always_run: true
      pass_filenames: false

- repo: https://github.com/facebook/pyrefly-pre-commit
  rev: 0.0.1
  hooks:
    - id: pyrefly-typecheck-system
      name: pyrefly
      always_run: true
      pass_filenames: false
